<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>스터디 만들기</title>
</head>
<body>
<div layout:fragment="content" th:object="${dailyStudyCreateForm}" class="container d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">
    <div class="container text-center" style="max-width: 50%;">
        <h3 class="my-3" style="font-size: 5rem; margin-bottom: 12rem;">스터디 주제 정하기</h3>
        <form th:object="${dailyStudyCreateForm}" method="post" th:action="@{|/studyRooms/${studyRoomId}/dailyStudy/add|}">
            <div class="form-group" style="margin-bottom: 4rem;">
                <label for="dailyStudyTitle"></label>
                <input type="text" th:field="*{dailyStudyTitle}" class="form-control" id="dailyStudyTitle" required style="font-size: 2rem; padding: 2rem;">
                <div th:if="${#fields.hasErrors('dailyStudyTitle')}" th:errors="*{dailyStudyTitle}" style="font-size: 2rem;">제목 오류</div>
            </div>
            <button type="submit" class="btn btn-primary" style="font-size: 2rem; padding: 1rem 4rem; background-color: green; color: white; border: none;">스터디 추가</button>
        </form>
    </div>
</div>
</body>
</html>
