<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>My Studyroom List</title>
</head>
<body>
<div layout:fragment="content" class="container my-3 d-flex flex-column align-items-center justify-content-center">
    <table style="width: 100%; border-spacing: 0 2rem; text-align: center;">
        <thead>
        <tr>
            <th style="font-size: 3rem; margin-bottom: 1rem">스터디 목록</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dailyStudy, index : ${dailyStudyList}">
            <td style="font-size: 2rem; padding: 0.5rem 0;">
                <a th:href="@{|/studyRooms/${studyRoom.studyRoomId}/dailyStudy/${dailyStudy.dailyStudyId}/memos|}"
                   th:text="${dailyStudy.dailyStudyTitle}"
                   style="color: white;"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="text-center" style="margin-top: 2rem; margin-bottom: 4rem;">
        <a th:if="${studyRoom.leader != null and #authentication.getPrincipal().getUsername() == studyRoom.leader.userName and currentDate.minusDays(1).isBefore(studyRoom.endDate)}"
           th:href="@{|/studyRooms/${studyRoom.studyRoomId}/dailyStudy/add|}" class="btn btn-primary"
           style="background-color: green; color: white; font-weight: bold; padding: 22.5px 45px; border: 3px solid green; font-size: 2.5rem;">
            스터디 추가
        </a>
        <a th:if="${studyRoom.leader != null and #authentication.getPrincipal().getUsername() == studyRoom.leader.userName and currentDate.isAfter(studyRoom.endDate)}"
           class="btn btn-primary"
           style="background-color: red; color: white; font-weight: bold; padding: 22.5px 45px; border: 3px solid green; font-size: 2.5rem;">
            스터디 기간 만료
        </a>
    </div>

</div>
</body>
</html>
