<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

    <h1 th:text="${studyRoom.title}"></h1>
    <div class="mb-2">작성자 : <span th:if="${studyRoom.leader != null}" th:text="${studyRoom.leader.nickname}"></span></div>
    <div class="mb-2">종료 일자 : <span th:text="${studyRoom.endDate}"></span></div>
    <div class="mb-2">모집 인원 : <span th:text="${studyRoom.numOfUser}"></span></div>

    <!-- TODO : studyroom 작성자=leader 와 유저가 같은 경우 '클래스룸 열기 버튼'이 보이게 / 다를 경우 '신청하기 버튼'-->
    <!-- TODO : 버튼을 누르면 스터디룸에 멤버가 추가되고, 버튼을 누른 멤버의 /studyRooms/myList 페이지에서 스터디룸을 찾을 수 있는 기능-->
    <!-- TODO : 버튼 클릭 시 "수강신청완료" 라는 알림 (중복신청 불가)-->

<button class="btn btn-primary">
    <span class="text-1xl" style="color:black">수강신청</span>
</button>
</div>
</html>
