<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div class="container my-3">
    <table class="table">
        <thead class="table-dark">
    <tr> <th>번호</th>
        <th>번호</th>
        <th>번호</th>
        <th>번호</th>
        <th>번호</th>
        <th>번호</th>
        <th>번호</th>
        <th>번호</th>
        <th>번호</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question : ${StudyRoomList}">
        <td>
            <a th:href="@{|/studyroom/detail/${question.StudyRoomId}|}" th:text="${question.title}"></a>
        </td>
        <td th:text="${question.StudyRoomId}"></td>
        <td th:text="${question.title}"></td>
        <td th:text="${question.createDate}"></td>
        <td th:text="${question.endDate}"></td>
        <td th:text="${question.learningObjective}"></td>
        <td th:text="${question.numOfUser}"></td>
        <td th:text="${question.isOpen}"></td>
    </tr>
    </tbody>

</table>

<a th:href="@{/studyroom/create}" class="btn btn-primary">질문 등록하기</a>



</div>